{varType Ages\Grid\Column\Column $column}
{varType Nextras\Orm\Entity\IEntity $line}
{varType Ages\Grid\Styles\GridStyleInterface $gs}
{if $column->isLink() && ($column->checkEmpty() === true && $column->getColumnValue($line) === '')}
    {var $params = []}
    {foreach $column->getLinkParams() as $param}
        {varType Ages\Grid\Column\LinkParam $param}
        {if $param->data === true}
            {var $value = $column->getEntityProperty($line, $param->value)}
        {else}
            {var $value = $param->value}
        {/if}
        {var $params[$param->key] = $value}
    {/foreach}
    <a href="{plink $column->getLink()  ...$params}" n:class="$column->ajax() ? $gs->ajax() : $gs->noAjax(), $gs->columnLink()"
            {if !$column->history()} data-naja-history="off"{/if}>{$column->getColumnValue($line)}</a>
{else}
    {$column->getColumnValue($line)}
{/if}
